// Brakepoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Search form */

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px 0 25px 0;

  background-color: #75d0f5;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.search-form__input {
  width: 300px;
  height: 40px;
  padding: 10px;

  font-size: 16px;

  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &::placeholder {
    font-size: 16px;
    color: #cccccc;
  }
}

.search-form__button {
  width: 80px;
  height: 40px;

  font-size: 16px;

  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: #0f3443;
    color: #ffffff;
  }
}

/* gallery*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 80px;
  padding: 15px 40px 15px 40px;
}

/* photo-card */
.photo-card {
  margin-bottom: 10px;
  width: 300px;
  border-left: 1px solid #eeeeeeb8;
  border-right: 1px solid #eeeeeeb8;
  border-bottom: 1px solid #eeeeeeb8;
  transition: box-shadow 250ms var(--timing-function);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  overflow: hidden;
}

.info {
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.load-more {
  width: 250px;
  height: 40px;

  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #0ab8fd;

  font-size: 16px;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: #75d0f5;
    color: #ffffff;
  }

  &.is-hidden {
    display: none;
  }
}
