ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Search form */

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px 0 25px 0;

  /* // background: #270583; */
  background: transparent;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
